body {
  background-color: #3f3f3f;
  font-family: "Arial", sans-serif;
  font-size: 1.2em;
}

#header {
  color: #dca3a3;
  padding: 1em;
  max-width: 65em;
  margin: 0 auto;
}

a:link {
  color: #f0dfaf;
}
a:visited {
  color: #c3bf9f;
}
h2 {
  color: #80d4aa;
}
h3 {
  color: #c0bed1;
}
h4 {
  color: #ffcfaf;
}

.timestamp {
  font-size: 0.8em;
  color: #709080;
}

.post {
  max-width: 65em;
  margin: 0 auto;
  padding: 1em;
  color: #dcdccc;
}

pre {
  background: #3f3f3f;
  border: 1pt dashed #dcdccc;
  color: #dcdccc;
  overflow: auto;
  padding: 1em;
  white-space: pre-wrap;
}
